.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.navbarli{
  padding: 5px;
  line-height: 50px;
  margin-right: 1em;

}
.brand-logo{
  line-height: 60px;
  font-weight: bold;
  margin-left: 1em;

}
.blogone{
  color: rgb(194, 180, 180);
  border: solid 5px black;
  border-left: none;
  padding-right: 5px;
  background: url(http://apod.nasa.gov/apod/image/0603/coma_misti.jpg)-50px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
nav{
  background: #405d9a;
}

.footer-copyright {
  background-color: #405d9a;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: 10px;
  padding: 5px 0px
  
}


.main-div{
  margin: 0 15%;
  border-bottom: 2px solid gray;
}

.postTitle a {
  font-size: 1em;
  color: royalblue;
  display: block;
}
.postTitle a:hover{
  background: url(http://apod.nasa.gov/apod/image/0603/coma_misti.jpg);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  
}
.titleBody{
  font-size: 20px;
  text-align: justify;
  padding-bottom:20px ;
  border-bottom: 1px solid gray;
  color: white;
}

/* Post animation */
.knockout {
  background: url(http://apod.nasa.gov/apod/image/0603/coma_misti.jpg) -80px -80px;
  color: red;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
  font-size: 100px;
  font-family: arial, helvetica;
  width: 600px;
  margin: 50px auto;
  text-align: center;
}

body{
  background:			#787878;
}

.about{
  color: white;
  text-align: center;
  margin: 0 15%;
}
.our-story-par{
  margin-bottom: 5%;
}

.about-heading:hover,.our-story-heading:hover{
  color: #405d9a;
}

.nameHeader{
  text-align: center;
  color: white;
}
.nameHeader:hover{
  color: #405d9a;
  cursor: pointer;
}

.nameSurname{
  margin-left: 1em;
  color: white;
 

}
.nameSurname h3{
border-bottom: 1px solid white;
border-top: 1px solid white;
display: inline;
padding: 5px;
}
.nameSurname span{
  color:#405d9a;
  font-size: 20px;
}
.nameSurname p{
  font-size: 20px;
}
.flexarino{
  display: flex;
}
.flexDivOne{
  width: 50%;
  font-size: 20px;
}
.flexDivTwo{
  width: 50%;
}
iframe{
  width: 100%;
  height: 100%;
}
.flexDivOne span{
color: #405d9a;
}
.flexDivOne p{
  margin-left: 20px;
  color: white;
}

.address{
  margin-bottom: 1em;
}

.compDiv{
  margin-left: 1em;
  color: white;
  font-size: 20px;
}
.compDiv span{
  color: #405d9a;
}